/* i think i need to create a flex box in the header div, to justify the gap between the 
logo and the navigation list; and also between the individual items within that list */

 :root {
    --h1-color: #010a00;
    --h2-color: #0c14f2;
    --a-color:  #0c2626;
    --button-color: #fff;
    --button-secondary-color: #2b2b2b;
    --font-weight-heading: 700;

 }
body {
    background-color: #caebf2;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    padding: 10px 300px;
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--h1-color);
    font-size: 65px;
    font-weight: var(--font-weight-heading);
    text-align: center;
    transition:all ease-in-out .2s;
}

h1:hover {
    transform: scale(1.25);
}


h2 {
    font-size: 25px;
    font-weight: var(--font-weight-heading);
    color:var(--h2-color);
}

h3 {
    font-size: 15px;
    font-weight: var(--font-weight-heading);
}
p {
    text-align: left;
}

.paragraph-footer {
    text-align: center;
}
.paragraph-contact {
    text-align: center;
}
.contact {
    text-align: center;
}

a {
    color:var(--a-color);
}

a:visited {
    color:var(--a-color);
}

a:hover, a:focus {
    text-decoration:none;
}

a:active {
    color:var(--a-color);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #fff, #000, #fff);
}
/* code below works for navigation bar AND LOGO! but not individual items.
instead, target class should be navigation-list__item?
also, add a specific class on logo to change its border-radius  */

.page-header__item {
    transition: all step-end;
}
.page-header__item:hover {
    transform:scale(1.25);
}

button, .button {
    border: none;
    font-family: inherit;
    background-color: #e0b354;
    color: var(--button-secondary-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    /* transition-duration: 0.2s;
    transition-property: opacity; */
    transition: all .2s ease-in-out;
    /* i swapped the transition effects over to increase interactivity- didn't work
     for the cv button  (.button class) */
}

button:hover, button:focus, .button:hover, .button:focus {
    /* opacity: 0.85; */
    cursor: pointer; 
    transform: scale(1.25);
}



.profile__portrait {
    float: left;
    margin-right: 40px;
    width: 200px;
    border-radius: 50%;
    transition: all ease-in-out .2s;
}
.profile__portrait:hover {
    transform: scale(1.25);
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction:column;
    text-align: center;
}

.social-media img {
    transition: all .2s ease-in-out;
}

.social-media img:hover {
    cursor:grab;
    transform: scale(1.5);
}


.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style: none;    
}

.navigation-list li {
    display: inline-block;
    margin: 15px;
}
.navigation-list__item--active {
    text-decoration: none;
}
.active {
    text-decoration: none;
    background-color: none;
    border: 1.5px solid black; 
    /* i used solid to change color of the outline */
    border-radius: 10%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.grid__item {
    background-color: white;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
}

.grid__item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* .standard label {
    transition: all ease-in-out 1s;
}
.standard label:hover {
    transform: scale(3);
}  do not know how to active this transition */


@media all and (max-width: 500px) {
    .grid {
    grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size: 22px;
    }

}

 @keyframes color-change {
      
        0% {
            fill: #edc655;
        }
        100% {
            fill: #f76414;
            } 
} 
/* 
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;   
} */

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    } 
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinte;
    animation-timing-function: linear; 
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);        
    }
    to {
        transform:translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

